<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lossboys.customerapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- Allow to connect with internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Customerdashboard.class -->
        <activity
        android:label="@string/app_name"   
            android:name="com.lossboys.customerapp.dashboard.CustomerDashboard" >
<!--             <intent-filter > -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
 
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.lossboys.customerapp.CustomerLogin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  Entry for RegisterActivity.class -->
        <activity android:name=".CustomerRegister"
                  android:label="Register New Account">
        </activity>
        
        <!-- News Feed Activity -->
        <activity android:name="com.lossboys.customerapp.dashboard.NewsFeedActivity" ></activity>
  
        <!-- Messages Activity -->
        <activity android:name="com.lossboys.customerapp.dashboard.MessagesActivity" ></activity>
 
        <!-- Places Activity -->
        <activity android:name="com.lossboys.customerapp.dashboard.PlacesActivity" ></activity>
 
        <!-- Events Activity -->
        <activity android:name="com.lossboys.customerapp.dashboard.EventsActivity" ></activity>
         
        <!-- Photos Activity -->
        <activity android:name="com.lossboys.customerapp.dashboard.PhotosActivity" ></activity>
        
        <!-- Product Activity -->
        <activity android:name="com.lossboys.customerapp.dashboard.ProductActivity" ></activity>
        
        <!-- Scan Activity -->
        <activity android:name="com.lossboys.customerapp.dashboard.ScanActivity" ></activity>
        
    </application>
</manifest>
